#searchContainer {
    background-image: url("https://i.postimg.cc/j2vSs225/photo-1576866209830-589e1bfbaa4d-2.jpg");
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: flex;
    background-repeat: no-repeat;

}


#searchBar {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.text {
    color: rgba(0, 0, 0, 0.55);
    font-size: 120%;
}
#img {
    display: flex;
    width: auto;
    height: 200px;
    align-items: center;
    align-content: center;
    margin-top: 10px;
   
}